.dropdown-menu img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.textarea-wrapper {
    position: relative;
}

.label {
    position: absolute;
    z-index: 10;
}

textarea {
    padding-top: 20px;
}
